/* Form Select Switches */

.status-pill {
  width: 12px;
  height: 12px;
  border-radius: 30px;
  background-color: #eee;
  display: inline-block; }
  .status-pill.yellow {
    background-color: #f8bc34; }
  .status-pill.red {
    background-color: #c21a1a; }
  .status-pill.green {
    background-color: #71c21a; }

label.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

label.switch input {
    position: absolute;
    opacity: 0;
}

label.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
}

label.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

label.switch input:checked + span:after {
    left: 27px;
    width: 24px;
    top: 2px;
    bottom: 2px;
}

label.switch input:checked + span {
    background-color: #eeeeee;
}

label.switch-default input:checked + span {
    background-color: #dae0e8;
}

label.switch-warning input:checked + span {
    background-color: #deb25c;
}

label.switch-danger input:checked + span {
    background-color: #de815c;
}

label.switch-info input:checked + span {
    background-color: #5cafde;
}

label.switch-success input:checked + span {
    background-color: #afde5c;
}

label.switch-primary input:checked + span {
    background-color: #5ccdde;
}

// fix datepicker
.datetimepicker thead tr:first-child th {
    display: table-cell!important;
}

.hidden {
    display: none;
}

.modal-max,
.modal-xl {
    max-width: 100%!important;
}

.wb-multiinput,
.wb-multiinput * {
    cursor: context-menu;
}

.wb-multiinput {
    padding: 2px;
}

.wb-multiinput:hover {
    background-color: rgba(84, 165, 248, 0.5);
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(84, 165, 248, 0.5);
}

.wb-multiinput-menu {
    position: absolute;
    margin-top: -3px;
}

.wb-tree .dd-item * {
    margin-top: 1px;
    margin-bottom: 1px;

}

.wb-tree-menu {
    position: absolute;
    top: 0;
    left: 0;
}

.dd-item > button {
    margin: 5px 0px 5px 0px;
    position: absolute;
}

.dd3-content {
    width: calc(100% - 60px);
    padding-left: 130px;
    padding-right: 5px;
    margin-left: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px #eee solid;
    cursor: context-menu;
}

.dd-item > button:before {
    content: "\f196";
    font-family: FontAwesome;
    font-size: 17px;
    color: #327bf8;
}

.dd-item > button[data-action="collapse"]:before {
    content: "\f147";
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 30px;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-btn {
    position: absolute;
    margin: 0;
    left: 55px;
    cursor: pointer!important;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    padding: 3px 7px;
    border: 1px solid #aaa;
    color: #fff;
    background: #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100px;
    min-width: 100px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dd3-btn:hover {
    background: #ddd;
    width: auto;
}

.tree-edit.modal {
    right: 0;
    left: auto;
    top: 0px;
    border-radius: 0;
    overflow-y: hidden!important;
}

.tree-edit.modal .modal-dialog {
    margin: 0;
    height: 100vh;
}

.tree-edit.modal .modal-body {
    height: calc(100vh - 70px);
    overflow-y: auto;
}

select.form-control + .select2-container {
    width: 100%!important;
}

.hidden-ovf {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.modal[role=dialog] {
    overflow-y: auto;
}
.modal-dialog {width:100%;}
/*.modal-footer {position: sticky;bottom: 0;background: inherit; box-shadow:0px -0.1px 5px #999;}*/

[data-wb-href],[data-wb-ajax] {
    cursor:pointer;
}
.element-box {margin-top:20px;}
.kt-sideleft {padding-top:140px;}
    .card {overflow:hidden;}
    .card-icon {
        position: absolute;
        font-size: 100px;
        color: rgba(51, 149, 243, 0.1);
        top: -20px;
        right: 20px;
    }
    .absolute {position:absolute;}
    .relative {position:relative;}
    .zx0 {z-index:0;}
    .zx1 {z-index:1;}
    .zx2 {z-index:2;}

@media screen {
    .wb-print-box {
        display: none;
        opacity: 0;
    }
}

@media print {
    .wb-print-box {
        display: block;
        opacity: 1;
    }
}
